In [28]:
pip install pytest

Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (7.4.4)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest) (24.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest) (1.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest) (1.2.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest) (2.0.1)

In [52]:
import sqlite3

def execute_sql_script(script_file, database_file):
    # Подключаемся к базе данных SQLite
    conn = sqlite3.connect(database_file)
    cursor = conn.cursor()

    # Читаем SQL-скрипт из файла
    with open(script_file, 'r') as script:
        sql_script = script.read()

    # Выполняем SQL-скрипт
    cursor.executescript(sql_script)
    conn.commit()
    conn.close()

# Путь к файлу SQL-скрипта
sql_script_file = 'database.sql'

# Путь к файлу базы данных SQLite
database_file = 'database.db'

# Вызываем функцию для выполнения SQL-скрипта
execute_sql_script(sql_script_file, database_file)

In [61]:
import sqlite3
def execute_sql_query(query):
    conn = sqlite3.connect("database.db")  # Название вашей тестовой базы данных
    cursor = conn.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    conn.close()
    return result

# Тест для проверки наличия таблицы в базе данных
def test_table_existence():
    query = "SELECT name FROM sqlite_master WHERE type='table' AND name='Car';"
    result = execute_sql_query(query)
    assert len(result) == 1, "Table does not exist in the database"

# Тест для проверки количества строк в таблице
def test_row_count():
    query = "SELECT COUNT(*) FROM Driver;"
    result = execute_sql_query(query)
    assert result[0][0] == 30, "Row count does not match expected value"

# Тест для проверки среднего значения бонусов по картам лояльности
def test_average_bonus():
    query = "SELECT AVG(bonus) FROM Loyalty_card;"
    result = execute_sql_query(query)
    assert result[0][0] == 795, "Average bonus value is incorrect"

# Тест для проверки наличия всех столбцов в таблице
def test_column_existence():
    query = "PRAGMA table_info('Driver');"
    result = execute_sql_query(query)
    expected_columns = ['ID_driver', 'car_number', 'full_name', 'phone_number', 'basic_fee', 'email', 'start_date', 'end_date', 'version_number', 'is_current']
    actual_columns = [row[1] for row in result]
    assert set(actual_columns) == set(expected_columns), "Columns do not match expected columns"

# Тест для проверки того, что все водители имеют уникальные идентификаторы
def test_unique_driver_ids():
    query = "SELECT COUNT(DISTINCT ID_driver) FROM Driver;"
    result = execute_sql_query(query)
    assert result[0][0] == 30, "Not all driver IDs are unique"

In [54]:
test_table_existence()

In [57]:
test_row_count()

In [58]:
test_average_bonus()

AssertionError: Average bonus value is incorrect

In [59]:
test_column_existence()

In [62]:
test_unique_driver_ids()